@charset "UTF-8";
h2 {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  font-weight: 800;
  color: #579bb1;
}

body {
  background-color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label::before {
  content: "↓";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type=radio] {
  display: none;
}

.form-container {
  background: url(sky-5534319_1920.jpg) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  height: 70vh;
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container #input-graph {
  width: 800px;
  background-color: transparent;
  padding: 26px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.form-container .graph-container {
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: 55px;
  overflow: hidden;
  background: rgba(69, 88, 104, 0.6);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.form-container .graph-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(42, 58, 77, 0.6);
  z-index: 1;
}
.form-container .graph-container .img-container {
  z-index: 2;
  position: absolute;
  left: 80px;
  bottom: 15%;
}
.form-container .graph-container .img-container img {
  max-width: 80%;
  max-height: 100%;
}
.form-container .graph-container #gaugeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  top: -22%;
}
.form-container #airQualityForm {
  width: 300px;
  background-color: transparent;
  bottom: 0;
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.form-container #airQualityForm label {
  color: #ffffff;
}
.form-container #airQualityForm #zipCode {
  max-width: 150px;
  padding: 14px;
  font-size: 17px;
  color: black;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border: 2px solid #ffffff;
  margin-right: -10px;
  outline: none;
}
.form-container #airQualityForm button {
  border: none;
  background-color: #579bb1;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 17px;
  font-size: 17px;
  color: #ffffff;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

.map-info-section {
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  margin-bottom: 150px;
  margin-top: 60px;
}
.map-info-section .map-info-row {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}
.map-info-section #map {
  height: 450px;
  width: 50%;
}
.map-info-section #airQualityConditions {
  height: -moz-fit-content;
  height: fit-content;
  width: 45%;
  box-shadow: 0 0 10px rgba(128, 162, 213, 0.482);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.map-info-section .conditions-row {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.map-info-section .conditions-row #aqi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 15px;
}
.map-info-section .facts-container .facts-accordion {
  width: 80%;
}
.map-info-section .facts-container .facts-accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}
.map-info-section .facts-container .facts-accordion li label {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #579bb1;
  cursor: pointer;
}
.map-info-section .facts-container .facts-accordion li .facts {
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  max-height: 0;
}
.map-info-section .facts-container .facts-accordion li input[type=radio]:checked + label + .facts {
  max-height: 450px;
  padding: 10px 10px 20px;
}
.map-info-section .facts-container .facts-accordion li input[type=radio]:checked + label::before {
  content: "-";
}
.map-info-section .facts-container .facts-accordion li label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
.map-info-section .facts-container .facts-accordion li input[type=radio] {
  display: none;
}

.aware-section {
  background-color: #f0f0f0;
  width: 100vw;
  height: 70vh;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.aware-section .heading {
  height: auto;
  width: 30%;
}

.accordion {
  width: 50vw;
}
.accordion li {
  list-style: none;
  width: 100%;
  box-shadow: 0 0 10px rgba(128, 162, 213, 0.482);
  background: #f0f0f0;
}
.accordion li label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #579bb1;
  cursor: pointer;
}
.accordion .content {
  text-align: center;
  color: #579bb1;
  padding: 0 10px;
  line-height: 26px;
  font-family: "Nunito", sans-serif;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type=radio]:checked + label + .content {
  max-height: 450px;
  padding: 10px 10px 20px;
}
.accordion input[type=radio]:checked + label::before {
  content: "↑";
}

@media (max-width: 768px) {
  .form-container #input-graph {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-container .graph-container {
    height: 250px;
    width: 250px;
    left: 5%;
    right: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-container .graph-container #gaugeContainer {
    width: 95%;
    height: 95%;
    top: -25%;
  }
  .form-container .graph-container .img-container {
    left: 28px;
  }
  .form-container .graph-container .img-container img {
    max-width: 95%;
  }
  .form-container #airQualityForm {
    padding-top: 0px;
    width: 100%;
  }
  .map-info-section {
    height: 70vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .map-info-section #current-h2 {
    display: none;
  }
  .map-info-section .map-info-row {
    height: 50vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .map-info-section .map-info-row #map {
    display: none;
  }
  .map-info-section #airQualityConditions {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 80px;
  }
  .accordion {
    width: 90%;
    margin-bottom: 30px;
    padding: 0;
  }
  .aware-section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .facts-accordion {
    padding: 40px;
  }
}
@media (max-width: 425px) {
  .facts-accordion {
    padding: 0;
  }
  .aware-section .heading {
    width: 50%;
  }
  .aware-section {
    height: 100vh;
  }
}
@media (max-width: 375px) {
  .map-info-section {
    height: 75vh;
  }
  .aware-section {
    height: 105vh;
  }
}/*# sourceMappingURL=data.css.map */