@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F6E6CB; /* Light background color */
}

/* Header and Navbar Styling */
.App-header {
    background-color: rgba(182, 199, 170, 0.9); 
    color: white;
    padding: 15px 0;
    text-align: center;
}

.App-header a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 15px;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.App-header a:hover {
    text-decoration: underline;
}

.logo {
  width: 18%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}


nav a {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navMenu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #b6c7aa;
    font-size: 20px;
    height: 150px;
    align-items: center;
}

.navMenu a:hover {
    transform: scale(1.2);
    color: #8e754e;
}

/* Hero Section Styling */
#home {
    position: relative;
    background: url('../Images/hero-image.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding: 19% 20px;
    overflow: hidden;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#home h1,
#home p,
#home button {
    position: relative;
    z-index: 2;
}

#home h1 {
    font-size: 3.5rem;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

#home p {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#home button {
    background-color: #9a392e;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#home button:hover {
    background-color: #000000;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fffdfd;
}

#air-quality-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#air-quality-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
}

#air-quality-info p {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 5px;
}

.footerContainer {
  display: flex;
  position: relative; /* Changed from fixed to relative */
  left: 0;
  bottom: 0;
  height: auto; /* Adjusted height */
  width: 100%;
  background-color: #a0937d;
  margin: 0px;
  padding: 20px;
  justify-content: space-around;
  align-items: flex-start;
}

.footerNav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.footerNav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
  transform: scale(1.2);
}

.footerBottom {
  background-color: #a0937d;
  padding: 10px 0; /* Adjusted padding */
  text-align: center;
  color: white;
  position: relative; /* Changed from fixed to relative */
  bottom: 0;
  width: 100%;
}

.newsLetter {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

#icons1 {
  font-size: 30px;
}

.socialIcons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.socialIcons a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

.socialIcons a:hover {
  transform: scale(1.2);
}

.newsLetter p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.newsLetter input[type="text"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: white;
}

.newsLetter button {
  padding: 10px 20px;
  background-color: #bfa77f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.newsLetter button:hover {
  background-color: #8e754e;
}

.footerBottom p {
  margin: 0;
  font-size: 14px;
}

.footerBottom .designer {
  font-weight: bold;
  color: #bfa77f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navMenu {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    #home {
        padding: 150px 0;
    }

    #home h1 {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 1.2rem;
    }

    .section {
        padding: 30px 10px;
    }

    .section h2 {
        font-size: 2rem;
    }

    .section p {
        font-size: 1rem;
    }

    .solutions {
        margin-bottom: 50px;
    }

    .solution-box {
        max-width: 100%;
    }

    .impact-content {
        padding: 30px;
        margin: 50px 0;
    }

    .impact-content h2 {
        font-size: 1.8rem;
    }

    .impact-content p {
        font-size: 1rem;
    }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1200px) {
    .solutions {
        justify-content: space-between;
    }

    .solution-box {
        max-width: 20%;
    }

    .impact-content {
        padding: 100px;
    }

    .impact-content h2 {
        font-size: 2.5rem;
    }

    .impact-content p {
        font-size: 1.2rem;
    }
}
