@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.footerNav ul li a {
  display: flex;
  margin: 0px;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerContainer {
  display: flex;
  position: relative;
  left: 0;
  bottom: 0;
  min-height: 30%;
  width: 100%;
  background-color: #759242;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
}

.footerNav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #759242;
  text-align: center;
  color: white;
  width: 100%;
}
.newsLetter {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

/* End */
/* Basic styling for the footer */

#icons1 {
  font-size: 30px;
}
.socialIcons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.socialIcons a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

.socialIcons a:hover {
  transform: scale(1.2);
}

.footerNav ul li a:hover {
  transform: scale(1.2);
}

.newsLetter p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.newsLetter input[type="text"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: white;
}

.newsLetter button {
  padding: 10px 20px;
  background-color: #ded3a6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.newsLetter button:hover {
  background-color: #8e754e;
}

.footerBottom p {
  margin: 0;
  font-size: 14px;
}

.footerBottom .designer {
  font-weight: bold;
}
